.bg {
  height: 100vh;
  background-image: url("../../assets/images/bg/bg-white.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  margin: 0;
  position: relative;
}

.home {
  position: absolute;
  left: 0;
  top: 0;
}

.father {
  background-color: transparent;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}
.image {
  background-color: transparent;
  width: 350px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px) rotate(-5deg);
  }
  50% {
    transform: translateX(5px) rotate(5deg);
  }
  75% {
    transform: translateX(-5px) rotate(-5deg);
  }
  100% {
    transform: translateX(0);
  }
}
.pokeball {
  animation: shake 2s ease-in-out infinite;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.form {
  background-color: transparent;
  height: 100%;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.input {
  width: 320px;
  height: 30px;
  border: 1px solid rgb(176, 176, 176);
  outline: none;
  border-radius: 5px;
  padding: 5px;
}

.input:focus {
  border: 1px solid rgb(239, 43, 43);
}

.types {
  width: 330px;

  border: 1px solid rgb(176, 176, 176);
  outline: none;
  border-radius: 5px;
  padding: 5px;
}
option:hover {
  background-color: #a0f04a;
  cursor: pointer;
}

.submitButton {
  width: 330px;
  height: 45px;
  background-color: #45aa0f;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-weight: bolder;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #1a9800;
}

.submitButton:active {
  background-color: rgb(2, 77, 2);
}
