.bg {
  height: 100vh;
  background-image: url("../../assets/images/bg/bg-white.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  margin: 0;
}

.father {
  background-color: transparent;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.image {
  background-color: green;
  width: 350px;
  height: 100%;
}
.form {
  background-color: transparent;
  height: 100%;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.input {
  width: 320px;
  height: 30px;
  border: 1px solid rgb(176, 176, 176);
  outline: none;
  border-radius: 5px;
  padding: 5px;
}

.input:focus {
  border: 1px solid rgb(239, 43, 43);
}

.types {
  width: 330px;

  border: 1px solid rgb(176, 176, 176);
  outline: none;
  border-radius: 5px;
  padding: 5px;
}
option:hover {
  background-color: #b2b2b2;
}

.submitButton {
  width: 330px;
  height: 45px;
  background-color: #45aa0f;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-weight: bolder;
}

.submitButton:hover {
  background-color: #1a9800;
}
