.bg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg select {
  width: 100px;
  border: 1px solid rgb(184, 183, 183);
  color: rgb(132, 132, 132);
  outline: none;
  height: 40px;
  border-radius: 10px;
}
